<!-- <div class="card text-white bg-info mb-3"> -->
<!-- <div class="card-header league"> -->
<!-- <div><img src="{{leagueLogo}}" alt="" class="leagueLogo" /></div> -->
<!-- <div class="leagueName">ENGLAND: Premier League</div> -->
<!-- <div class="round">Round 15</div> -->
<!-- </div> -->
<!-- <div class="card-body"> -->
<!-- <h5 class="card-title text-center"></h5> -->
<!-- <div class="card-text"> -->
<!-- <div class="team1">Manchester Utd</div> -->
<!-- <div class="team1Logo"> -->
<!-- <img src="{{team1Logo}}" alt="" class="team1Logo" /> -->
<!-- </div> -->
<!-- <div class="date">Wed, 6/12 21:45</div> -->
<!-- <div class="team2Logo"> -->
<!-- <img src="{{team2Logo}}" alt="" class="team2Logo" /> -->
<!-- </div> -->
<!-- <div class="team2">Arsenal</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<div class="match">
  <div class="match-info">
    <div class="leagueLogo"><img src="{{leagueLogo}}" alt="" /></div>
    <div class="date">Wed, 6/12 21:45</div>
  </div>
  <div class="match-header">
    <div class="leagueName">ENGLAND: Premier League</div>
    <div class="round">Round 15</div>
  </div>
  <div class="match-body">
    <div class="team1">Manchester Utd</div>
    <div class="team1Logo">
      <img src="{{team1Logo}}" alt="" class="team1Logo" />
    </div>
    <div class="score">2-2</div>
    <div class="team2Logo">
      <img src="{{team2Logo}}" alt="" class="team2Logo" />
    </div>
    <div class="team2">Arsenal</div>
  </div>
</div>
<div class="match">
  <div class="match-info">
    <div class="leagueLogo"><img src="{{leagueLogo}}" alt="" /></div>
    <div class="date">Wed, 6/12 21:45</div>
  </div>
  <div class="match-header">
    <div class="leagueName">ENGLAND: Premier League</div>
    <div class="round">Round 15</div>
  </div>
  <div class="match-body">
    <div class="team1">Manchester Utd</div>
    <div class="team1Logo">
      <img src="{{team1Logo}}" alt="" class="team1Logo" />
    </div>
    <div class="score">2-2</div>
    <div class="team2Logo">
      <img src="{{team2Logo}}" alt="" class="team2Logo" />
    </div>
    <div class="team2">Arsenal</div>
  </div>
</div>
