<div
  [ngClass]="{
    adminSelection: viewMode === 'admin-selection',
    adminDisplay: viewMode === 'admin-display',
    loggedUser: viewMode === 'loggedUser',
    notLoggedUser: viewMode === 'notLoggedUser',
    resultSelected: isBetSubmitted
  }"
>
  <div
    class="match"
    (click)="selectMatch(match)"
    [ngClass]="{ matchSelected: match.selected }"
  >
    <div class="match-info">
      <div
        class="leagueLogo"
        *ngIf="viewMode === 'loggedUser' || viewMode === 'notLoggedUser'"
      >
        <img [src]="leagues[match.league_id].league_logo" alt="" />
      </div>
      <div class="date">{{ match.event_date | formatDate }}</div>
    </div>
    <div
      class="match-header"
      *ngIf="viewMode === 'loggedUser' || viewMode === 'notLoggedUser'"
    >
      <div class="leagueName">
        {{ leagues[match.league_id].league_country | uppercase }}:
        {{ leagues[match.league_id].league_name }}
      </div>
      <div class="round">{{ match.round | formatRound }}</div>
    </div>
    <div class="match-body">
      <div class="team1">
        <app-team
          [teamName]="match.homeTeam"
          [teamLogo]="logos ? logos[match.homeTeam_id] : false"
          [viewMode]="viewMode"
          [fixture_id]="match.fixture_id"
          [playingSide]="'home'"
          [score]="
            mode === 'setScore' ? match.goalsHomeTeam : match.homeTeamBetScore
          "
          [isLatestBet]="isLatestBet"
          [submitMode]="mode"
        ></app-team>
      </div>
      <div
        class="separator"
        *ngIf="viewMode !== 'loggedUser' && viewMode !== 'notLoggedUser'"
      >
        -
      </div>
      <div class="team2">
        <app-team
          [teamName]="match.awayTeam"
          [teamLogo]="logos ? logos[match.awayTeam_id] : false"
          [viewMode]="viewMode"
          [fixture_id]="match.fixture_id"
          [playingSide]="'away'"
          [score]="
            mode === 'setScore' ? match.goalsAwayTeam : match.awayTeamBetScore
          "
          [isLatestBet]="isLatestBet"
          [submitMode]="mode"
        ></app-team>
      </div>
    </div>
  </div>
</div>
