<div
  [ngClass]="{
    admin: viewMode === 'admin',
    user: viewMode === 'user'
  }"
>
  <div
    class="match"
    (click)="selectMatch(match)"
    [ngClass]="{ matchSelected: selected }"
  >
    <div class="match-info">
      <div class="leagueLogo" *ngIf="viewMode === 'user'">
        <img [src]="leagues[match.league_id].league_logo" alt="" />
      </div>
      <div class="date">{{ match.event_date | formatDate }}</div>
    </div>
    <div class="match-header" *ngIf="viewMode === 'user'">
      <div class="leagueName">
        {{ leagues[match.league_id].league_country | uppercase }}:
        {{ leagues[match.league_id].league_name }}
      </div>
      <div class="round">{{ match.round | formatRound }}</div>
    </div>
    <div class="match-body">
      <div class="team1">
        <app-team
          [teamName]="match.homeTeam"
          [teamLogo]="logos ? logos[match.homeTeam_id] : false"
          [viewMode]="viewMode"
        ></app-team>
      </div>
      <div class="separator" *ngIf="viewMode === 'admin'">-</div>
      <div class="team2">
        <app-team
          [teamName]="match.awayTeam"
          [teamLogo]="logos ? logos[match.awayTeam_id] : false"
          [viewMode]="viewMode"
        ></app-team>
      </div>
    </div>
  </div>
</div>
