.user {

.card-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.card-body {
  padding: 6px;
}

.round {
  justify-self: end;
  align-self: center;
}

.leagueName {
  align-self: center;
}

.card-title {
  display: none;
}

.card-text {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 4fr;
}


.leagueLogo {
  text-align: center;
  align-self: center;
}

.leagueLogo img {
  width: 34px;
}

.team1 {
  //grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.date {
  font-size: 9px;
  font-weight: bold;
  padding: 8px 10px;
  text-align: center;
  align-self: center;
  color: #fff;
}

.league {
  height: 45px;
}

.league div {
  align-self: center;
  font-size: 13px;
}


.match {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  background-color: #17a2b8;
  margin: 10px;
  border-radius: 6px;
}

.match-info {
  grid-column: 1/2;
  grid-row: 1/3;
  border-right: 1px solid rgba(0,0,0,.125);
  display: grid;
  grid-template-rows: 48px 1fr;
  padding: 5px;
}

.match-header, .match-body {
  grid-column: 2/3;
}

.match-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-size: 11px;
  padding: 7px 9px;
  color: #fff;
}

.match-body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #fff;
}


.scoreSelections {
  position: absolute;
  right: -40px;
  bottom: -20px;
  z-index: 10;
}

.scoreSelections input[type="radio"] {
  opacity: 0;
}

.scoreSelections button {
  background-color: #157382;
  border: 1px solid #125863;
  padding: 5px;
}

.scoreSelections .btn:focus {
  box-shadow: inset 0 0 18px #00ffdc;
}

}

.admin {
  .match {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  .match-body {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
  }

  .match-info .date {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }


  .separator {
    justify-self: center;
  }

  .team1, .team2 {
    align-self: center;
  }

  .team1 {
    justify-self: end;
  }

  .team2 {
    justify-self: start;
  }

  .matchSelected {
    background-color: #62c462;
  }

}

