//:host-context(.betSection) {
.loggedUser,
.notLoggedUser {
  .team {
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr 1fr;
    min-height: 50px;
  }

  .teamName {
    font-size: 13px;
    font-weight: bold;
    justify-self: end;
    align-self: center;
    padding-right: 10px;
    text-align: right;
  }

  .teamLogo {
    justify-self: stretch;
    align-self: stretch;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    display: grid;
  }

  .teamLogo img {
    max-width: 40px;
    max-height: 46px;
    align-self: center;
    justify-self: center;
  }

  .scoreTeam {
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr;
  }

  .scoreTeam span {
    justify-self: center;
    align-self: center;
  }

  .scoreTeam:hover {
    cursor: pointer;
    background-color: #127d8e;
  }
}

.notLoggedUser,
.latestBet {
  .scoreTeam:hover {
    cursor: inherit;
    background-color: inherit;
  }
}

@media screen and (max-width: 1700px) {
  .team .teamLogo img {
    max-width: 26px;
  }
}

@media screen and (max-width: 1400px) {
  .loggedUser,
  .notLoggedUser {
    .team {
      min-height: 42px;
    }
    .teamName {
      padding: 0;
    }
    .teamLogo img {
      max-height: 26px;
    }
  }
}
