<div [ngClass]="{ admin: viewMode === 'admin', user: viewMode === 'user' }">
  <div class="team">
    <div class="teamName">{{ teamName }}</div>
    <div class="teamLogo" *ngIf="teamLogo">
      <img src="{{teamLogo}}" alt="" />
    </div>
    <div
      class="scoreTeam"
      (click)="setScore()"
      *ngIf="viewMode === 'user'"
      (clickOutside)="close()"
    >
      <span>{{ score }}</span>
      <div *ngIf="displaySelections">
        <app-score-selector
          class="scoreSelector"
          (resultSelected)="onResultSelected($event)"
        ></app-score-selector>
      </div>
    </div>
  </div>
</div>
