<div *ngIf="(matchDetails$ | async) as matchDetails">
  <h3 class="roundHeader">Round {{ matchDetails.currentRound }}</h3>
  <div class="row">
    <app-match
      *ngFor="let match of matchDetails.matches"
      [match]="match"
      [logos]="matchDetails.teamLogos"
      [leagues]="matchDetails.leagues"
      [viewMode]="viewMode"
      class="col-md-6"
    ></app-match>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-danger actionButton"
        (click)="submitBet(userId, currentRound, { test: 'test' })"
      >
        Submit bet
      </button>
      <button
        type="button"
        class="btn btn-secondary actionButton"
        (click)="resetSelections()"
      >
        Reset selections
      </button>
    </div>
  </div>
</div>
