<div *ngIf="(matchDetails$ | async) as matchDetails">
  <h3 class="roundHeader">Round {{ matchDetails.currentRound }}</h3>
  <h5
    *ngIf="latestBet && latestBet.matches"
    class="text-center roundTextHeader"
  >
    You have already submitted bets for this round. Please check your selections
    below:
  </h5>
  <div class="row">
    <app-match
      *ngFor="let match of matchDetails.matches"
      [match]="match"
      [logos]="matchDetails.teamLogos"
      [leagues]="matchDetails.leagues"
      [viewMode]="viewMode"
      [isLatestBet]="!!(latestBet && latestBet.matches)"
      class="col-md-12 col-lg-6"
    ></app-match>
  </div>
  <div
    class="row"
    *ngIf="viewMode !== 'notLoggedUser' && !(latestBet && latestBet.matches)"
  >
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-danger actionButton"
        [disabled]="isBetsSelected$ | async"
        (click)="
          submitBet(userId, matchDetails.currentRound, matchDetails.matches)
        "
      >
        Submit bet
      </button>
      <button
        type="button"
        class="btn btn-secondary actionButton"
        (click)="resetSelections()"
      >
        Reset selections
      </button>
    </div>
  </div>
</div>
