<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img
      src="https://www.freeiconspng.com/uploads/football-png-12.png"
      width="50"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personal" routerLinkActive="active"
          >Personal room</a
        >
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active"
          >Admin panel</a
        >
      </li>
    </ul>
    <ul
      class="navbar-nav"
      *ngIf="(auth.user | async); then: authenticated; else: guest"
    ></ul>
  </div>
</nav>

<!-- User NOT logged in -->
<ng-template #guest>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" id="googleLogin" href="#" (click)="auth.googleLogin()"
        >Log In with Google</a
      >
    </li>
  </ul>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <ul class="navbar-nav" *ngIf="(auth.user | async) as user">
    <li class="nav-item">
      <span class="nav-link">Hi, {{ user.displayName }}</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="auth.signOut()">Logout</a>
    </li>
  </ul>
</ng-template>
