#googleLogin {
  padding-right: 36px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right;
}
