.home {
  display: grid;
  grid-template-columns: 6fr 5fr 5fr;
  grid-gap: 50px;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  app-bet-section {
    display: none;
  }

  .home {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  app-bet-results-section {
    grid-row: 2/3;
  }

  app-bet-table {
    grid-row: 0/1;
  }
}
