.home {
  display: grid;
  grid-template-columns: 6fr 5fr 5fr;
  grid-gap: 50px;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  app-bet-section {
    display: none;
  }

  .home {
    grid-template-columns: 1fr;
  }
}
