table.table-bordered tr th {
  border: 1px solid #737386;
}

.tableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tableHeaderText {
  align-self: center;
}

.roundsMenu {
  justify-self: end;
}

.tableHeading {
  font-size: 16px;
}

::ng-deep.tableHeader mat-form-field {
  font-size: 14px;
}

@media screen and (max-width: 1800px) {
  .table {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  .table {
    font-size: 12px;
  }

  .tableHeader .tableHeading {
    font-size: 14px;
  }

  ::ng-deep.tableHeader mat-form-field {
    font-size: 12px;
  }

  ::ng-deep .mat-form-field-infix {
    width: 140px !important;
  }
}

@media screen and (max-width: 1260px) {
  .table {
    font-size: 10px;
  }

  .tableHeading {
    font-size: 12px;
  }
}
