<form [formGroup]="form" (ngSubmit)="addMatch(form.value)">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Home team</mat-label>
        <label for="homeTeam"></label
        ><input
          matInput
          id="homeTeam"
          required
          formControlName="homeTeam"
          [matAutocomplete]="homeTeam"
        />
        <!-- <mat-error *ngIf="homeTeam.touched && homeTeam.invalid" -->
        <!-- &gt;Home team is required -->
        <!-- </mat-error> -->
      </mat-form-field>
      <mat-autocomplete
        #homeTeam="matAutocomplete"
        (optionSelected)="updateTeamLogos($event, 'homeTeam')"
      >
        <mat-option
          *ngFor="let team of (filteredHomeTeams$ | async)"
          [value]="team.name"
        >
          {{ team.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-md-6" *ngIf="!form.get('homeTeamLogo').value">
      <mat-form-field class="example-full-width">
        <mat-label>Home team logo</mat-label>
        <label for="homeTeamLogo"></label
        ><input
          matInput
          id="homeTeamLogo"
          required
          formControlName="homeTeamLogo"
        />
      </mat-form-field>
    </div>
    <input
      id="homeTeam_id"
      required
      formControlName="homeTeam_id"
      type="hidden"
    />
    <div class="col-md-6 teamLogo" *ngIf="form.get('homeTeamLogo').value">
      <div class="teamLogoImg">
        <img [src]="form.get('homeTeamLogo').value" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Away team</mat-label>
        <label for="awayTeam"></label
        ><input
          matInput
          type="text"
          id="awayTeam"
          formControlName="awayTeam"
          [matAutocomplete]="awayTeam"
          required
        />
      </mat-form-field>
      <mat-autocomplete
        #awayTeam="matAutocomplete"
        (optionSelected)="updateTeamLogos($event, 'awayTeam')"
      >
        <mat-option
          *ngFor="let team of (filteredAwayTeams$ | async)"
          [value]="team.name"
        >
          {{ team.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-md-6" *ngIf="!form.get('awayTeamLogo').value">
      <mat-form-field class="example-full-width">
        <mat-label>Away team logo</mat-label>
        <label for="awayTeamLogo"></label
        ><input
          matInput
          id="awayTeamLogo"
          required
          formControlName="awayTeamLogo"
        />
      </mat-form-field>
    </div>
    <input
      id="awayTeam_id"
      required
      formControlName="awayTeam_id"
      type="hidden"
    />
    <div class="col-md-6 teamLogo" *ngIf="form.get('awayTeamLogo').value">
      <div class="teamLogoImg">
        <img [src]="form.get('awayTeamLogo').value" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          id="matchDate"
          formControlName="matchDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Time</mat-label>
        <label for="matchTime"></label
        ><input matInput id="matchTime" required formControlName="matchTime" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>League country</mat-label>
        <label for="leagueCountry"></label
        ><input
          matInput
          id="leagueCountry"
          [matAutocomplete]="leagueCountry"
          required
          formControlName="leagueCountry"
        />
      </mat-form-field>
      <mat-autocomplete
        #leagueCountry="matAutocomplete"
        (optionSelected)="updateLeagueLogo($event)"
      >
        <mat-option
          *ngFor="let league of (filteredLeagues$ | async)"
          value="{{league.league_country}} {{league.league_name}}"
        >
          {{ league.league_country }} {{ league.league_name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-md-6" *ngIf="!form.get('leagueLogo').value">
      <mat-form-field class="example-full-width">
        <mat-label>League logo</mat-label>
        <label for="leagueLogo"></label
        ><input
          matInput
          id="leagueLogo"
          required
          formControlName="leagueLogo"
        />
      </mat-form-field>
    </div>
    <input id="league_id" required formControlName="league_id" type="hidden" />
    <div class="col-md-6 leagueLogo" *ngIf="form.get('leagueLogo').value">
      <div class="leagueLogoImg">
        <img [src]="form.get('leagueLogo').value" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Round</mat-label>
        <label for="round"></label
        ><input matInput id="round" required formControlName="round" />
      </mat-form-field>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
